<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sitecore.SharedSource.WebApiClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sitecore.SharedSource.WebApiClient.Properties.Settings>
            <setting name="DefaultApiVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultDatabase" serializeAs="String">
                <value>web</value>
            </setting>
            <setting name="ConfigurationFilePath" serializeAs="String">
                <value>C:\{YourDirectory}\Sitecore.SharedSource.WebApiClient\Sitecore.SharedSource.WebApiClient.Demo\bin\Debug\SitecoreWebApiClient.config</value>
            </setting>
        </Sitecore.SharedSource.WebApiClient.Properties.Settings>
    </applicationSettings>
</configuration>